@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:ital,wght@0,400;0,500;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  perspective: 2500px;
  transform-style: preserve-3d;
  overflow-x: hidden;
}

