<div class="h-screen w-full flex items-center justify-center bg-customWhite relative overflow-hidden font-abhaya">
    <!-- Diagonal custom dark brown background -->
    <div class="absolute top-0 left-0 w-full h-full"
        style="clip-path: polygon(0 0, 100% 0, 100% 47%, 0 100%); background-color: #632324; z-index: 1;"></div>
    <!-- Portfolio Content -->
    <div class="relative z-10 flex flex-col justify-between w-full h-full pl-14 pt-48 pb-12 max-w-full">
        <div>
            <h1 class="text-7xl font-abhaya text-customDarkBrown mb-8">Portfolio</h1>
            <div class="mb-6">
                <h2 class="text-2xl font-abhaya text-customDarkBrown">Cretu Claudia</h2>
                <p class="text-xs font-abhayaMedium uppercase text-customDarkBrown mt-2 tracking-wide">
                    FRONT END DEVELOPMENT | MOBILE APPLICATION DEVELOPMENT
                </p>
            </div>
        </div>
        <div class="flex justify-end">
            <a href="#portfolio"
                class="text-customOrange text-lg font-abhayaMedium flex items-center group transition duration-200">
                Browse my portfolio
                <span class="ml-2 text-customOrange group-hover:translate-x-1 transition-transform">&rarr;</span>
            </a>
        </div>
    </div>
</div>